<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3>Atualizar Status</h3>
          <p class="text-muted"><%= @book.title %></p>

          <%= form_with model: @book, local: true do |f| %>
            <div class="mb-3">
              <%= f.label :status, "Progresso da leitura", class: "form-label" %>
              <%= f.select :status, ["Para ler", "Lendo", "Lido"], {}, class: "form-select" %>
            </div>

            <div class="d-grid gap-2">
              <%= f.submit "Salvar Alteração", class: "btn btn-success" %>
              <%= link_to "Cancelar", books_path, class: "btn btn-light" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>