<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title mb-4">Pesquisar Livro</h2>
          
          <%# Formulário de Busca: ele envia os dados para a ação 'search' via GET %>
          <%= form_with url: search_books_path, method: :get, data: { turbo_frame: "results_frame" } do |f| %>
            <div class="input-group mb-3">
              <%= f.text_field :query, 
                               class: "form-control form-control-lg", 
                               placeholder: "Digite o Título para buscar...", 
                               required: true %>
              <%= f.submit "Pesquisar", class: "btn btn-primary" %>
            </div>
          <% end %>

          <hr>

          <%# Este é o container onde os resultados do JS/Turbo vão aparecer %>
          <%= turbo_frame_tag "results_frame" do %>
             <div class="search-placeholder" id="results-placeholder">
              <p>Os resultados da Open Library aparecerão aqui!</p>
            </div>
          <% end %>

          <div class="mt-3 text-center">
            <%= link_to "Voltar para minha estante", books_path, class: "btn btn-link text-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>