<div class="auth-container">
  <div class="book-auth shadow-lg">
    
    <%# 1. CAPA %>
    <div class="cover-box">
      <div class="bark"></div>
      
      <%# Logo como ícone central superior %>
      <%= image_tag "logo.jpg", class: "cover-logo" %>
      
      <div class="cover-title">
        MRead<br>
        <span class="auth-subtitle">ACERVO</span>
      </div>
    </div>

    <%# 2. INTERIOR (Formulário) %>
    <div class="auth-form-container">
      <h3 class="auth-heading">
        Entrar no Sistema
      </h3>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
        <div class="auth-input-group mb-4">
          <%= f.email_field :email, autofocus: true, placeholder: "E-MAIL", class: "form-control border-0 border-bottom bg-transparent rounded-0" %>
        </div>

        <div class="auth-input-group mb-4">
          <%= f.password_field :password, placeholder: "SENHA", class: "form-control border-0 border-bottom bg-transparent rounded-0" %>
        </div>

        <div class="d-grid gap-2 mt-5">
          <%= f.submit "Abrir Livro", class: "btn btn-primary rounded-0 py-2 shadow-sm text-uppercase" %>
        </div>
      <% end %>

      <div class="mt-auto text-center small border-top pt-4">
        <%= render "devise/shared/links", style: "text-decoration: none; color: var(--accent-brass);" %>
      </div>
    </div>

  </div>
</div>